Task:- In this Scenario excerpt, we're supposed to create a Music Diversifier Phonograph.

Importance:- It acts as a playlist for the user to be able to play songs that have been selected by the user.

1. we're gonna import packages (Scanner to receive response from the user, File class to read our audio file and able to create our file object, sound sampled package to play and stop, resume audio and IO Exception package able to handle errors such as not able read file path etc.)
2. We will use only Conditional Statements (if-else and nested-if)