---------------- patient medication analytics system ------------------

-> assist the doctors in the clinics to give right medication dosages to patients based on the diagnosis they establish.
-> first we need to caluclate body mass index BMI,
    - cardiac index ci
    - body surface area bsa of patients
-> we need to use Mosteller formula, to compute right dosage quantity to improve drug efficiency and minimize drug toxicity in patients.

* bmi and bsa
* bmi is used to calculate the person's weight which is calculated based on their height and weight.
* bsa measures the total surface area of a body and used to calculate the drug dosages and medical indicators

Formulas
--------------------------------------------------------------------------------------

1. BMI (body mass index) = wt of the person / (ht of the person)^2

2. BSA (Body Surface Area) = sqrt of((ht of the person in cm * wt of the person)/3600)

3. Cardiac Index (ci) = cardiac output of the person / BSA 
    -> we must know their cardiac output
       - for children it must be around 4 - 5 liters per minute

4. To calculate the dose of the medication
    -> we must know the drug dose as for Crocin tablet (for light fewer) = 500mg etc.....
    -> (BSA/1.73)*drug_dose

----------------------------------------------------------------------------------------

-> For Validating BMI,we must consider these following conditions:-

underwt = <18.5 kg/m^2
normalwt = 18.5 to 24.9 kg/m^2
overwt = 25.0 to 29.9 kg/m^2
obesity = >=30.0 kg/m^2